// bower:scss
// endbower
$maize: #f0c04d;
$greyish-brown: #4a4a4a;
$white: #eeeeee;
$white-tag-bg: #f5f5f5;
$brownish-grey: #5b5b5b;
$black: #000000;
$white-card-bg: #ffffff;
$white-grid-bg: #f9f9f9;
$guide-name-font-size:1.46vw;
$guide-image-height:8.5vw;
$card-width:21.7vw;
$card-border-color:#b6b6b6;
$card-border-thickness:1px;
$grid-vertical-margin:1.25vw;
$card-padding:1.3vw;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-weight: 300!important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 74vw;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
    margin-left:0.75vw;
    margin-right:0.75vw;
}

.deckgrid .column-1-3 {
    width: $card-width;
}
.deckgrid .column-1-1 {
    width: 100%;
}

/*@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}*/
.deckgrid{
  background-color: $white-grid-bg;
  height:100vh;
}
.a-card{
  width:$card-width;
  height:20vw;
  overflow: hidden;
  background-color: $white-card-bg;
  box-sizing: border-box;
  border: $card-border-thickness solid $card-border-color;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: $grid-vertical-margin;
  h1{
    font-size:$guide-name-font-size;
  }
  .guide-name{
    font-size:$guide-name-font-size;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400!important;
  }
  .guide-description{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    opacity: 0.5;
  }
  .guide-image{
    height:$guide-image-height;
    width:$card-width;
    background-size: cover;
    background-position: center center;
  }
  ul{
      list-style: none;
      li{
        display: block;
        float:left;
        max-width:30%;
        margin:1.5%;
        background-color: $white-tag-bg;
      }
  }
  .guide-description{
    font-size: 1.25vw;
    line-height: 1.6vw;
  }
  .card-bottom{
    padding: $card-padding;
  }
}